text {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    color: #3F3844
}

.tooltip-title {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #3F3844
}

.tooltip-body {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    color: #3F3844
}

h1 {
    font-family: 'Garamond', serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 1rem 0 0;
}

h3 {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 1rem 0 0;
}

.axis-title {
    font-size: 15px;
}

.axis line {
    stroke: #bbb;
}

.cell {
    cursor: pointer;
}

.swatch {
    stroke: #555;
}

.bar:hover {
    stroke: black;
}

.bar.active {
    stroke: black;
}

#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 #7a7a7a;
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
    color: #000;
    max-width: 170px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-left {
    margin-right: 1rem;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    font-family: 'Verdana', sans-serif;
}

.album-list {
    margin-top: 1rem;
    height: 620px;
    overflow: auto;
}

.selected {
    stroke: black;
}