text {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
}

h1, h2, h3, p {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    margin: 1rem 0 0;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-family: 'Garamond', serif;
    font-weight: 700;
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 13px;
}

/* Text */
/* .chart-text {
    color: #FFF
} */

.tooltip-title {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}
.tooltip-body {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
}

.axis-title {
    font-size: 15px;
}

/* Legends */
.cell {
    cursor: pointer;
}
.swatch.translucent {
    fill-opacity: 0.9;
}

/* Record label scatter plot */
.label-mark {
    fill-opacity: 0.9;
    stroke-width: 1px;
}

/* Tooltips */
.tooltip {
    position: absolute;
    display: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
}
#tooltip {
    max-width: 170px;
}
#album-tooltip {
    width: 100%;
    max-width: 300px;
}

/* Layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    font-family: 'Verdana', sans-serif;
}

.container-right img {
    width: 120px;
    height: 120px;
    border: solid transparent;
}

.container-right .bnm {
    border: solid red;
}

.album-list {
    margin-top: 1rem;
    height: 620px;
    overflow: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    list-style-type: none;
}