text {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    color: #3F3844
}

/* Text */
.tooltip-title {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #3F3844
}
.tooltip-body {
    font-family: 'Verdana', sans-serif;
    font-size: 13px;
    color: #3F3844
}

p {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 1rem 0 0;
}

h1 {
    font-family: 'Garamond', serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin: 1rem 0 0;
}

h3 {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 1rem 0 0;
}

.axis-title {
    font-size: 15px;
}

.axis line {
    stroke: #bbb;
}

/* Legends */
.cell {
    cursor: pointer;
}
.swatch {
    stroke: #555;
}
.swatch.translucent {
    fill-opacity: 0.7;
}

/* Record label scatter plot */
.label-mark {
    fill-opacity: 0.7;
    stroke: #555;
    stroke-width: 1px;
}
.label-mark:hover {
    stroke: black;
}

/* Histogram */
.bar:hover {
    stroke: black;
}
.bar.active {
    stroke: black;
}
.selected {
    stroke: black;
}

/* Line chart */
.path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* Tooltips */
.tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 #7a7a7a;
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: 500;
    padding: 10px;
    color: #000;
}
#tooltip {
    max-width: 170px;
}
#album-tooltip {
    min-width: max-content;
    max-width: 400px;
}

/* Layout */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.container-left {
    margin-right: 1rem;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    font-family: 'Verdana', sans-serif;
}

.container-right img {
    width: 120px;
    height: 120px;
    border: solid transparent;
}

.container-right .bnm {
    border: solid red;
}

.album-list {
    margin-top: 1rem;
    height: 620px;
    overflow: auto;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    list-style-type: none;
}